/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    --black: #000;
    --white: #fff;
    --half-white: #dddbd1;
    --blue: #034EA2;
}

a,
a:hover {
    text-decoration: none;
    font-size: 1.5rem;
}
button{
    font-size: 1.6rem;
    padding: .5rem 2rem;
}
p {
    font-size: 1.6rem;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.4rem;
}

span,
strong {
    font-size: 1.6rem;
}

.w-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .8rem 4.5rem;
    border-radius: 40px;
    color: var(--white);
    border: 1px solid #fff;
    background: linear-gradient(to right, #0054A6, #00A8EA);
    box-shadow: 4px 4px 10px -5px #00A8EA;
    transition: .3s ease-in-out;
}
.w-btn:hover{
    color: var(--white);
    box-shadow: none;
    scale: 1.05;
}

.section-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
}
.section-heading h2{
    position: relative;
    padding: 0;
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--blue);
    line-height: 1;
}
.section-heading h2:after,
.section-heading h2:before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
    height: 10px;
    background-color: #ED1651;
}
.section-heading h2:after{
    right: 110%;
}
.section-heading h2:before{
    left: 110%;
}
body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    overflow: hidden;
}

/*
===================================
    NAVBAR SECTION START
===================================
*/
.navTop {
    position: sticky;
    top: 0;
    padding: 1rem 2rem;
    background-color: var(--white);
    background-color: var(--white);
    box-shadow: 0 4px 20px -18px grey;
    z-index: 1000;
}

#topNav .navbar-brand img {
    width: 200px;
}

#topNav ul li {
    margin: 0 .5rem;
}

#topNav ul li a {
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
    transition: .4s ease-in-out;
}

#topNav ul li a:is(:hover, .active) {
    color: var(--blue);
}

/*
===================================
    NAVBAR SECTION END  
===================================
*/
/*
===================================
    HEADER SECTION START  
===================================
*/
#header {
    padding: 10rem 2rem;
    background: url("../img/header-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    isolation: isolate;
}

#header:after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #001C42, #004C72);
    opacity: .8;
    z-index: -2;
}

#header:before {
    content: "";
    position: absolute;
    left: -40%;
    top: 0;
    height: 100%;
    width: 40%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, 0));
    z-index: -3;
    animation: overlay 4s ease-in-out infinite forwards;
}

@keyframes overlay {
    to {
        left: 100%;
    }
}

#header .header-content h4 {
    font-size: 2.6rem;
    color: var(--white);
    font-weight: 400;
}

#header .header-content h1 {
    font-size: 4rem;
    font-weight: 600;
    margin: 2rem 0;
    color: #fed330;
}

#header .header-content p {
    font-size: 1.8rem;
    color: var(--half-white);
}

#header .header-content .header-btn {
    margin-top: 5rem;
}

#header .header-content .header-btn a {
    font-size: 1.7rem;
    padding: 1rem 3rem;
    background-color: transparent;
    color: var(--white);
    font-weight: 500;
    border: 1px solid var(--white);
    display: inline-block;
    position: relative;
    isolation: isolate;
    transition: .5s ease-in-out;
}

#header .header-content .header-btn a:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--white);
    scale: 0 1;
    transform-origin: right;
    transition: scale .4s ease-in-out;
    z-index: -1;
}

#header .header-content .header-btn a:hover {
    color: var(--blue);
}

#header .header-content .header-btn a:hover:before {
    transform-origin: left;
    scale: 1 1;

}


/*
===================================
    HEADER SECTION END  
===================================
*/

/*
=======================================
    LEARNING LIBERARY SECTION START  
=======================================
*/
.liberary {
    margin: 10rem 2rem;
}

.liberary .liberary-heading {
    padding: 0 1rem;
    max-width: 530px;
    text-align: center;
    margin: auto;
    position: relative;
}

.liberary .liberary-heading:after,
.liberary .liberary-heading::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: #034EA2;
}

.liberary .liberary-heading:after {
    right: 100%;
    top: 0;
    animation: after 2s ease-in-out infinite alternate;
}

@keyframes after {
    to {
        scale: .9;
    }
}

.liberary .liberary-heading::before {
    left: 100%;
    top: 0;
    animation: before 2s ease-in-out infinite alternate;
}

@keyframes before {
    to {
        scale: .9;

    }
}

.liberary .liberary-heading h2 {
    color: var(--black);
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.liberary .liberary-heading h2 span {
    font-size: inherit;
    color: #ED1651;
}
.lib-cards{
    margin-top: 4rem;
}
.lib-card{
    text-align: center;
    margin: 2.5rem 0;
    padding: 1.5rem .5rem;
    border-radius: .8rem;
    transition: .4s ease-in-out;
}
.lib-card:hover{
    scale: 1.1;
    box-shadow: 0 4px 20px -5px rgba(0,0,0,0.3);
}
.lib-card .card-icon{
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    border: 8px solid;
    border-top-color: #E31B22;
    border-bottom-color: #00AEEF;
    border-left-color: #F5821F;
    border-right-color: #A6CE39;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 3s linear forwards infinite;
}
.lib-card .card-icon .icon-inner{
    animation: altRotate 3s linear forwards infinite;

}

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}
@keyframes altRotate{
    to{
        transform: rotate(-360deg);
    }
}

.lib-card .card-content h4{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--blue);
}

/*
=======================================
    LEARNING LIBERARY SECTION END  
=======================================
*/
/*
=======================================
    E-LEARNING SOLUTION SECTION START
=======================================
*/
.e-learning{
    padding: 5rem 2rem;
    background-color: #E1F4FD;
    margin-bottom: 4rem;
}

.e-learning .e-learning-content h2{
    font-size: 4.4rem;
    font-weight: 600;
    color: var(--blue);
}
.e-learning .e-learning-content h2 span{
    font-size: inherit;
    color: #ED1651;
}
.e-learning .e-learning-content h5{
    font-size: 1.8rem;
    text-align: justify;
    line-height: 1.5;
    margin: 2rem 0;
}
.e-learning .e-learning-content p{
    font-size: 1.5rem;
    text-align: justify;
    margin: 2rem 0;
}
.e-learning .e-learning-img img{
    width: 100%;
    animation: upDown 2s ease-in-out infinite alternate;
    transition: .4s ease-in-out;
}
.e-learning .e-learning-img img:hover{
    scale: 1.1;
}

@keyframes upDown{
    from{
        transform: translateY(-20px);
    }
    to{
        transform: translateY(20px);

    }
}

/*
=======================================
    E-LEARNING SOLUTION SECTION END
=======================================
*/

/*
=======================================
    PARTICIPATION SECTION START
=======================================
*/
.participate{
    padding: 5rem 2rem;
    /* background: linear-gradient(to bottom, #F1F1F2 50%, #fff 0%); */
}

.participate .pt-content{
    max-width: 400px;
    padding: 0 1rem;
    position: relative;
    /* isolation: isolate; */
}
.participate .pt-content:before{
    content: "";    
    position: absolute;
    top: 50%;
    right: -8rem;
    transform: translateY(-50%);
    width: 100vw;
    height: calc(100% + 10rem);
    background-color: #F1F1F2;
    z-index: -1;
}
.participate .pt-content h3{
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--blue);
}
.participate .pt-content h5{
    font-size: 1.7rem;
    font-weight: 600;
    margin: 2rem 0;
}

.participate .pt-content form input{
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2rem 0;
    box-shadow: none;
    border-radius: 0;
    padding: 1rem;
    background-color: var(--white);
    border: 2px solid var(--blue);
    transition: .3s ease-in-out;
}
.participate .pt-content form input:focus{
    scale: 1.05;
}

.participate form .pt-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.participate .pt-image img{
    animation: upDown 2s ease-in-out infinite alternate;
    transition: .4s ease-in-out;
}
.participate .pt-image img:hover{
    scale: 1.1;
}
/*
=======================================
    PARTICIPATION SECTION END
=======================================
*/

/*
=======================================
    UPCOMING EVENTS SECTION START
=======================================
*/
.up-event{
    margin: 5rem 0;
    padding: 5rem 2rem;
}
.up-event .up-cards .up-card{
    width: calc(100% - 50px);
    margin: auto;
    border: 2px solid #00A8EA;
    border-radius: 2rem;
    background-color: #fff;
    padding: 4rem 3rem;
    text-align: center;
    margin: 2rem 0;
    transition: .4s ease-in-out;
}
.up-event .up-cards .up-card.bg-card{
    background: linear-gradient(rgba(237, 22, 81, .85),rgba(237, 22, 81, .85)), url("../img/event.jpg");
    background-position: center;
    background-size: cover;
    border-color: transparent;
    color: var(--white);
}
.up-event .up-cards .up-card.bg-card h4{
    color: var(--white);
}
.up-event .up-cards .up-card:hover{
    scale: 1.1;
}
.up-event .up-cards .up-card.br-green{
    border-color: #A6CE39;
}
.up-event .up-cards .up-card.br-orange{
    border-color: #F5821F;
}
.up-event .up-cards .up-card.br-blue{
    border-color: #47A5AF;
}
.up-event .up-cards .up-card.br-purple{
    border-color: #A3238E;
}
.up-event .up-cards .up-card.br-skyblue{
    border-color: #00AEEF;
}
.up-event .up-cards .up-card.br-green{
    border-color: #A6CE39;
}
.up-event .up-cards .up-card h4{
    font-size: 2rem;
    color: var(--black);
    font-weight: 600;
}
.up-event .up-cards .up-card p{
    margin: 1.5rem 0;
    font-weight: 300;
}
/*
=======================================
    UPCOMING EVENTS SECTION END
=======================================
*/

/*
=======================================
    NEWS EVENTS SECTION START
=======================================
*/
.news-event{
    padding: 5rem 2rem;
}

.ne-card{
    background-color: #F1F1F2;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 1.4rem 2.5rem;
    padding-left: 3rem;
    margin: 2rem 0;
    box-shadow: 3px 5px 20px -5px rgba(0,0,0,0.3) ;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    transition: .4s ease-in-out;
}
.ne-card:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3%;
    background-color: #ED1651;
    transition: .7s ease-in-out;
    z-index: -1;

}
.ne-card:hover{
    scale: 1.05;
    color: #fff;
}
.ne-card:hover:before{
    width: 100%;
    
}
.ne-card .card-content{
    max-width: 250px;
}
.ne-card .card-content h5{
    font-size: 1.8rem;
    font-weight: 600;
}
.ne-card .data-label{
    padding: .3rem 1.5rem;
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;
    background: linear-gradient(to right, #0054A6, #00A5E7);
    border-radius: 50px;
    margin-right: 1rem;
}
/*
=======================================
    NEWS EVENTS SECTION END
=======================================
*/

/*
=======================================
    CONTACT SECTION START
=======================================
*/
.contact{
    margin: 5rem 0;
    background-color: #E1F4FD;
    overflow: hidden;
}
.contact .contact-content{
    padding: 5rem 2rem;
    padding: 1rem;
    height: 100%;
    position: relative;
    isolation: isolate;
}
.contact .contact-content::after{
    content: "";
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translateY(-50%);
    height: calc(100% + 5rem);
    width: 100vw;
    background-color: #034EA2;
    z-index: -1;
}
.contact .contact-content .contact-image{
    max-width: 250px ;
    margin: 4rem auto;
}
.contact .contact-content .contact-image img{
    width: 100%;
}
.contact .contact-content h2{
    font-size: 4rem;
    font-weight: 600;
    color: #FFCB04;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.contact .contact-content p{
    color: #fff;
}
.contact .contact-content p i{
    color: #00AEEF;
    font-size: 1.5rem;
    margin-right: .5rem;
}
.contact .contact-form{
    padding: 5rem 0;
}
.contact .contact-form h5{
    font-size: 2.2rem;
    color: #000;
    font-weight: 600;
    margin: 4rem 0;
}
.contact .contact-form form textarea,
.contact .contact-form form input{
    padding: 1rem;
    color: var(--blue);
    background-color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
    border: 2px solid var(--blue);
    box-shadow: none;
    margin: 2rem 0;
    border-radius: 0;
}
/*
=======================================
    CONTACT SECTION END
=======================================
*/

/*
=======================================
   FOOTER SECTION START
=======================================
*/
.footer{
    padding: 4rem 2rem;
    background-color: var(--blue);
}
.footer h3{
    font-size: 2.6rem;
    color: var(--white);
    margin: 2rem 0;
}
.footer p{
    color: var(--half-white);
}
.footer ul li {
    margin: .5rem 0;
}
.footer ul li a{
    font-size: 1.5rem;
    color: var(--half-white);
}
.footer ul li a i{
    margin-right: 1rem;
    font-size: 1.5rem;
}
/*
=======================================
   FOOTER SECTION END
=======================================
*/